.ctable {
    margin-top: 30px;
}

.ctable tbody tr th {
    background-color: white;
    color: black;

}

.ctable tbody tr th.row {
    font-weight: bold;
}

.ctable tbody tr th.highlight {
    background-color: #ffc107;
}